@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}
body{
    color: white;
    background: black;
}
.left{
    position: absolute;
    left: 34px;
    top: 30px;
    display: inline-block;
    width: 33%;
    /* border: 5px solid red; */
}
.mid{
    display: block;
    width: 33%;
    margin: 60px auto;
    top: 60px;
    text-align: center;
    font-size: 20px;
    /* border: 5px solid green; */
}
.right{
    position: absolute;
    display: inline-block;
    right: 100px;
    top: 70px;
    /* border: 5px solid yellow; */
    cursor: pointer;
}

.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    padding: 12px 30px;
}
.navbar li a{
    color: white;
    text-decoration: none;
}
.navbar li a:hover,.navbar li a.active {
    text-decoration: underline;
    color: rgb(255, 47, 99);
}

.left img{
    height: 100px;
    width: auto;
}
.btn{
    margin-right: 15px;
    background-color: rgb(255, 47, 99);
    color: rgba(51, 49, 49, 0.849);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}
.btn:hover {
    background-color: rgb(53, 50, 50);
    color: rgba(255, 255, 255, 0.876);
}
.container{
    display: inline-block;
    margin: 200px 200px;
}
.container h1 {
    margin-bottom: 25px;
}
.form-group input{
    border: solid 2px white;
    background-color: transparent;
    display: block;
    width: 600px;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 7px;
}
form button {
    display: block;
    width: 100px;
    margin-top: 17px;
    font-size: 20px;
}
.intro-video video {
    display: inline-block;
    position: absolute;
    top: 390px;
    right: 140px;
    height: 300px;
    width: auto;
    border-radius: 7px;
    border: none;
}
